section#mail {
  background-color: var(--color-sub);
  align-items: center;

  ::selection {
    color: var(--color-sub);
    background-color: var(--color-main);
  }

  a {
    font-size: var(--font-size-lg);
  }
  span {
    opacity: 0.4;
  }
}
