section#portfolio {
  background-color: var(--color-main);
  color: var(--color-sub);

  ::selection {
    color: var(--color-main);
    background-color: var(--color-sub);
  }

  .my-contacts--links {
    a {
      font-size: 16px;
      color: #ee2e2e;
      text-underline-offset: -16px;
      text-decoration-thickness: 2px;
      margin-right: 8px;
    }
  }
  .my-contacts {
    margin-top: auto;
    padding-top: 80px;

    .my-contacts--links {
      display: block;
      white-space: nowrap;
      overflow: auto;
    }
  }
}

.portfolio-container {
  margin-bottom: 24px;

  .portfolio-container--items {
    display: flex;
    flex-wrap: wrap;

    .portfolio-container--item {
      font-family: 'Gilroy', sans-serif;
      position: relative;
      color: var(--color-sub);
      background-color: white;
      padding: 20px;
      border-radius: 12px;
      margin: 8px 12px 0 0;
      transition: all 200ms;
      cursor: pointer;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 0.01rem;
      font-weight: 600;

      span {
        display: block;
        opacity: 0.6;
        font-size: var(--font-size-sm);
        font-weight: 500;
        text-transform: initial;
        margin-top: 4px;
      }
    }
    .portfolio-container--item::after {
      position: absolute;
      right: 6px;
      top: 6px;
      padding: 4px 8px;
      font-size: var(--font-size-sm);
      color: #ffffff;
      border-radius: 8px;
    }
    .portfolio-container--item.on::after {
      content: 'ON';
      background-color: #70bf4c;
    }
    .portfolio-container--item.off::after {
      content: 'OFF';
      background-color: #f26262;
    }
    .portfolio-container--item.private::after {
      content: 'PVT';
      background-color: #7b67db;
    }
    .portfolio-container--item:hover,
    .portfolio-container--item:active {
      color: var(--color-main);
      background-color: var(--color-sub);
      font-weight: 600;
      transform: translateY(-4px) scale(1.025);
    }
  }
}
