section#welcome {
  min-height: 100vh;
  background-color: var(--color-sub);

  ::selection {
    color: var(--color-sub);
    background-color: var(--color-main);
  }

  .welcome-dialog {
    opacity: 0.85;
    margin: auto 0;
    padding: 100px 0;
    color: var(--color-main);

    .welcome-dialog--item {
      margin-top: 8px;

      small {
        opacity: 0.25;
      }
    }
  }
  .welcome-scroll {
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='70' height='70' viewBox='0 0 24 24' fill='none' stroke='%23292826' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='12' y1='5' x2='12' y2='19'/%3E%3Cpolyline points='19 12 12 19 5 12'/%3E%3C/svg%3E");
    background-color: var(--color-main);
    animation: moveDown 400ms infinite linear;
    position: absolute;
    right: 48px;
    top: 0;
    bottom: 0;
    width: 70px;

    @media screen and (max-width: 800px) {
      display: none;
    }
  }
  .welcome-skills {
    img {
      margin: 4px 4px 0 0;
      width: clamp(26px, 5%, 46px);
    }
  }
}

@keyframes moveDown {
  0% {
    background-position-y: 0px;
  }
  100% {
    background-position-y: 70px;
  }
}
